<html>

<head>

  <meta charset="UTF-8">

  <title>CSS3外观漂亮淡入淡出Tab菜单演示</title>

    <link rel="stylesheet" href="style.css" >

</head>

<body>
<div style="text-align:center;clear:both;">
</div>
  <article class="tabs">

		<input checked id="one" name="tabs" type="radio">
	    <label for="one">设备控制</label>

	    <input id="two" name="tabs" type="radio" value="Two">
	    <label for="two">设备管理</label>

	    <input id="three" name="tabs" type="radio">
	    <label for="three">其他</label>


	    <div class="panels">

		    <div class="panel">
		    	<h2>This is Panel One</h2>

		    </div>

		    <div class="panel">
		    	<h2>This is Panel Two</h2>
		    </div>

		    <div class="panel">
		    	<h2>This is Panel Three</h2>
			</div>


		</div>

    </article>

</body>

</html>